html {
    --sys-link: #007298;
    --sys-link-hover: #004d66;
    --sys-background: hsl(0, 0%, 97%);
    --sys-on-background: hsl(215, 15%, 12%);
    --color-paper: hsl(0, 0%, 94%);
    --color-border: var(--color-gray-200);
}

html {
    color-scheme: light;
    background: var(--sys-background);
    color: var(--sys-on-background);
    font-size: 16px;

    &[data-theme="dark"]  {
        color-scheme: dark;
        --sys-background: hsl(210, 14%, 7%);
        --sys-on-background: hsl(0, 0%, 97%);
        --color-paper: hsl(210, 14%, 10%);
        --color-border: var(--color-gray-800);
    }
}

html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
}

.bg-paper {
    background: var(--color-paper);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--color-primary-500);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
    